*, *.before, *after {
  bo-sizing:border-box;
}

body {
  background: #4EB980;
}

form {
  width:1000px;
  height: 1000px;
  margin: 0% auto;
}

.name {
  width: 46%;
  height: 50px;
  margin: 1%;
  display: inline;
  opacity:  .07%;
  background: #4EB980;
  border: 1px;
  border-color: #fff;
  border-style: solid;
  border-radius: 4px;
  line-height: 20px;
}

.email {
  width: 46%;
  height: 50px;
  margin: 1%;
  display: inline;
  opacity: .07%;
  background: #4EB980;
  border: 1px;
  border-color: #fff;
  border-style: solid;
  border-radius: 4px;
}

textarea {
  display: block;
  opacity: .07%;
  background: #4EB980;
  border: 1px;
  border-color: #fff;
  border-style: solid;
  width: 1000px;
  height: 400px;
  margin: 1%;
  border-radius: 4px;
}

.submit {
  border: none;
  background: #fff;
  padding: 20px 40px;
  font-size: 20px;
  color: rgba(93, 186, 127, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
  }


::-webkit-input-placeholder {
color: rgba(225, 225, 225, 0.7);
font-size: 20px;
}
:-moz-placeholder { /* Firefox 18- */
color: rgba(225, 225, 225, 0.7);
font-size: 20px;
}
::-moz-placeholder { /* Firefox 19+ */
color: rgba(225, 225, 225, 0.7);
font-size: 20px;
}
:-ms-input-placeholder {
color: rgba(225, 225, 225, 0.7);
font-size: 20px;
}
